body { font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; font-size:13px; font-weight: normal; line-height: 18px; }
h1 img { vertical-align: middle; }
.icons:after { content: '.'; display: block; height: 0; clear: both; visibility: hidden; }
.icon { width: 180px; float: left; white-space: nowrap; padding: 2px; overflow: hidden; text-overflow: ellipsis; }
.icon img { vertical-align: middle; padding: 0 6px 0 0; }
.filter { padding: 10px; }
#filter { margin: 0 0 0 10px; }
img#progress { vertical-align: middle; }
a { color: #0069d6; text-decoration: none; cursor: pointer; }
a:hover { color: #00438a; text-decoration: none; }
#image-details { display: none; }
.icon-details-small { border: 1px solid #F0F0F0; margin-right: 10px; padding: 5px; vertical-align: top; }
.icon-details-big { border: 1px solid #F0F0F0; padding: 2px; vertical-align: top; }
hr { margin: 18px 0; border: 0; border-top: 1px solid #eee; border-bottom: 1px solid #fff; }
#footer { color: #999; }
