    </script>

    <div class="container">
      <p>FatCow Icons Set</p>
      <div id="fatcow-icons"></div>
    </div>
    <hr/>

    <div class="container">
      <p>FamFamFam Icons Set</p>
      <div id="famfamfam-icons"></div>
    </div>
    <hr/>

    <div id="footer">
      <p>
        Icons Explorer created by <a href="mailto:sibprogrammer@gmail.com?subject=Icons Explorer">Alexei Yuzhakov</a><br/>
        FatCow Free Icons Set - <a href="http://www.fatcow.com/free-icons" target="_blank">http://www.fatcow.com/free-icons</a><br/>
        FamFamFam Free Icons Set - <a href="http://www.famfamfam.com/lab/icons/" target="_blank">http://www.famfamfam.com/lab/icons/</a>
      </p>
    </div>

  </body>
</html>
