    </script>

    <a name="fatcow"></a>
    <div class="container">
      <p>FatCow Icon Set</p>
      <div id="fatcow-icons"></div>
    </div>
    <hr/>

    <a name="fugue"></a>
    <div class="container">
      <p>Fugue Icon Set</p>
      <div id="fugue-icons"></div>
    </div>
    <hr/>

    <a name="led"></a>
    <div class="container">
      <p>Led Icon Set</p>
      <div id="led-icons"></div>
    </div>
    <hr/>

    <a name="famfamfam"></a>
    <div class="container">
      <p>FamFamFam Icon Set</p>
      <div id="famfamfam-icons"></div>
    </div>
    <hr/>

    <div id="footer">
      <p>
        Icons Explorer created by <a href="mailto:sibprogrammer@gmail.com?subject=Icons Explorer">Alexei Yuzhakov</a><br/>
        FatCow Free Icon Set - <a href="http://www.fatcow.com/free-icons" target="_blank">http://www.fatcow.com/free-icons</a><br/>
        Fugue Free Icon Set - <a href="http://p.yusukekamiyamane.com/" target="_blank">http://p.yusukekamiyamane.com/</a><br/>
        Led Free Icon Set - <a href="http://led24.de/iconset/" target="_blank">http://led24.de/iconset/</a><br/>
        FamFamFam Free Icon Set - <a href="http://www.famfamfam.com/lab/icons/" target="_blank">http://www.famfamfam.com/lab/icons/</a>
      </p>
    </div>

  </body>
</html>
